.select-container {
    display: flex;
    cursor: pointer;
    align-items: center;
    margin-top: 50px;
    gap: 30px;
}

.select {
    width: 240px;
    height: 35px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    border-radius: 5px;
}
